/* Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"), url(../fonts/PTSans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"), url(../fonts/PTSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

/* Variables */

:root{
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-gray: #eeeeee;
  --checkbox-gray: #6A6A6A;
  --copyright-gray: #BDBBBC;
  --special-gray: #F2F2F2;
  --special-dark-gray: #EBEBEB;
  --basic-white: #ffffff;
  --brown: #766357;
  --dark-brown: #604E43;
  --extra-dark-brown: #503E33;
  --blue: #81B3D2;
  --dark-blue: #669EC0;
  --extra-dark-blue: #5496BD;
  --basic-light-line: #E5E5E5;
  --hex-gray: #ABABAB;
  --light-line: #666666;
  --basic-sort: #C6C6C6;
  --shadow: 0, 1, 1;
  --shadow-white: 255, 255, 255;
  --background-page: #888888;
  --background-footer: rgba(255, 255, 255, 0.9);
  --basic-black-shadow: rgba(0, 1, 1, 0.15);
  --logo-active: #BDBBBC;
}

/* Global styles*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background: var(--background-page);
  min-height: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(var(--shadow), 0.2);
  background-color: var(--basic-white);
}




/* Navigation*/

.main-header {
  width: 1200px;
  position: relative;
}

.head-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  display: grid;
  padding: 0 73px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: 'first second gap third fourth';
  grid-template-columns: 1fr 1fr 147px 1fr 1fr;
  text-align: center;
}

.navigation-list li:nth-child(1) {
  grid-area: first;
  text-align: left;
}

.navigation-list li:nth-child(2) {
  grid-area:second;
  text-align: left;
}

.navigation-list li:nth-child(3) {
  grid-area: third;
  text-align: right;
}

.navigation-list li:nth-child(4) {
  grid-area: fourth;
  text-align: right;
}

.navigation-item {
  color: var(--basic-black);
  text-decoration: none;
  font-weight: 700;
  line-height: 26px;
}

.navigation-item:hover {
  color: var(--basic-black);
}

.navigation-item:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-item:active {
  color: var(--brown);
  font-weight: 700;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Main content */

.headline-background {
  background-color: var(--dark-blue);
  background: url(../img/top.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.headline-background h1,
.headline-background {
  padding-top: 40px;
  padding-bottom: 50px;
}

.headline-background h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  width: 470px;
  margin: 0 auto;
}

.headline-background p {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-extra-dark);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  max-width: 800px;
}

.kinds {
  display: flex;
}

.kinds-text {
  display: flex;
  flex-direction: column;
  width: 308px;
  padding: 46px 46px 0;
  align-items: center;
}

.bridge {
  display: flex;
}

.bridge-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 308px;
  padding: 46px 46px 0;
}

.blue-zone {
  background-color: var(--blue);
  color: var(--basic-white);
}

.kinds-text p,
.bridge-text p {
  font-size: 14px;
  line-height: 21px;
}

.kinds-text h3,
.bridge-text h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-list {
  list-style: none;
  background-color: var(--basic-white);
}

.advantages-item {
  text-align: center;
  padding: 51px 51px 68px;
}

.advantages-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 330px;
}

.gray-zone {
  background-color: var(--basic-gray);
}

.feature-list ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  padding: 0;
  min-height: 256px;
}

.feature-list li {
  text-align: center;
  padding: 21px 71px 54px;
}

.advantages-list h3,
.features-list h3 {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.feature-list h3 {
  width: 120px;
  margin: 0 auto;
}

.advantages-list p {
  width: 290px;
}

.features-list {
  width: 270px;
}

.advantages-list p,
.features-list p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-dark);
}

.search-form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 568px;
  padding: 55px;
}

.search-hotel {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: var(--basic-white);
}

.search-hotel-text h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 41px;
}

.search-hotel-text p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 48px;
}

.search-button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown);
  border: none;
  cursor: pointer;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  width: 568px;
  height: 86px;
}

.search-button:hover {
  background-color: var(--dark-brown);
}

.search-button:active {
  background-color: var(--extra-dark-brown);
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-black-shadow);
  margin: 0 auto;
  width: 568px;
  height: 395px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 50%;
  margin-left: -284px;
}

.search-item,
.search-label__item {
  width: 458px;
  text-align: left;
  margin: 0px;
  padding-bottom: 30px;
  height: 38px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-item input {
  font: inherit;
  background-color: var(--special-gray);
  border: none;
  width: 346px;
  height: 38px;
  text-transform: uppercase;
  align-items: center;
  border: none;
  outline: none;
  padding-left: 12px;
  padding-right: 9px;
  margin-left: 12px;
}

.search-item input:hover {
  border-color: var(--special-dark-gray);
}

.search-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-line);
}

.search-item.arrival-data input,
.search-item.departure-data input {
  padding-left: 13px;
  border: 2px solid transparent;
}

.form-label {
  width: 125px;
}

.arrival-data input {
  margin-left: 20px;
}

.departure-data input {
  margin-left: 16px;
}

.form-date-input {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 9px;
  top: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.submit-form-button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--blue);
  border: none;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
  padding: 0px;
  width: 458px;
  height: 58px;
}

.submit-form-button:hover {
  background-color: var(--dark-blue);
}

.submit-form-button:active {
  background-color: var(--extra-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.google_map {
  position: absolute;
  width: 1200px;
  height: 594px;
}

.google-img {
  z-index: 2;
}

/* Footer */

.main-footer {
  background-color: var(--background-footer);
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: min-content;
  align-items: center;
  padding: 20px 0px;
  margin-top: 35px;
  height: 120px;
}

.contact-list {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}

.contact-list a{
  color: var(--basic-black);
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.social-list {
  align-items: center;
  text-align: center;
}

.social-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 150px;
}

.social-list li {
  display: flex;
  justify-content: : center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-top: 3px;
}

.social-list a {
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%
}

.social-list a:focus svg {
  opacity: 0,3;
}

.social-list a:hover {
    background-color: var(--dark-blue);
}


.social-list a:focus {
  background-color: var(--extra-dark-blue);
  color: var(--basic-white);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer-copyright label{
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.logo-htmlacademy {
  margin-top: -3px;
  display: inline-block;
  color: var(--basic-black);
}

.logo-htmlacademy:hover path {
  fill: var(--blue)
}


.logo-htmlacademy:active path {
  fill: var(--logo-active);
}

/* Catalog */

.navigation-item-active {
  color: var(--brown);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.filter {
  background-color: transparent;
  display: grid;
  grid-template-columns: 254px 205px 279px max-content;
  grid-template-rows: auto auto auto;
}

.filter-infrastructure-list,
.filter-housing-list  {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 40px;
  width: 130px;
}

.filter-option {
  display: flex;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 400;
}

.filter-input-checkbox {
  background: url(../img/checkbox-off.svg) no-repeat;
  cursor: pointer;
}

.filter-input-checkbox:disabled {
  background-color: var(--checkbox-gray);
}

.filter-input-checkbox:checked {
  background: url(../img/checkbox-on.svg) no-repeat;
}

.inner-filters {
  color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue);
  background: url(../img/filter-background.jpg) no-repeat;
  padding: 27px 73px 31px;
  min-height: 217px;
}

.infrastructure,
.housing-type {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  max-width: 195px;
  margin-top: -5px;
  margin-left: -1px;
}

.infrastructure input,
.housing-type input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.infrastructure label,
.housing-type label {
  position: relative;
  text-align: left;
  margin-bottom: 25px;
}

.housing-type {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.filter-range-block {
  grid-column: 4 / 5;
}

.cost-per-day {
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  position: relative;
}

.hotel-fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.hotel-filter-legend {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 25px;
  max-width: 315px;
}

.price-value {
  margin-top: 11px;
  margin-bottom: 20px;
}

.criterion-label.form {
  top: 19px;
  left: 66px;
}

.criterion-label.end {
  top: 19px;
  left: 212px;
}

input[type="number"] {
  box-sizing: border-box;
  position: relative;
  appearance: none;
  width: 158px;
  height: 36px;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  text-align: left;
}

.range-controls {
  width: 316px;
  height: 19px;
  margin-bottom: 18px;
}

.range-controls .scale {
  width: 315px;
  height: 2px;
  background: var(--basic-white);
  opacity: 0.3;
  margin-left: 1px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-toggle {
  position: relative;
  top: -9px;
  width: 4px;
  height: 4px;
  background: var(--hex-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border: 9px solid var(--basic-white);
}

.range-toggle-max {
  left: 80%;
}

.range-toggle-min {
  margin-top: -11px;
}

.show-button {
  font-weight: 400;
  font-size: 14px;
  color: var(--basic-white);
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
  width: 137px;
  margin-bottom: 32px;
  padding: 6px 35px;
  margin-top: -2px;
  margin-left: -10px;
}

.show-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sort-by-contain {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  padding: 0 6%;
  min-height: 86px;
}

.hotel-results {
  padding-bottom: 3px;
}

.hotel-results-found {
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-right: 47px;
  margin-top: 2px;
  max-width: 240px;
  color: var(--basic-black);
}

.title-sort-by {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  list-style: none;
  font-family: inherit;
  margin-right: 40px;
  max-width: 150px;
}

.hotel-results-sort {
  padding: 0;
  margin: 0;
  list-style: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.sort-by {
  text-align: left;
  list-style: none;
}

.sort-by:not(:last-child) {
  margin-right: 34px;
}

.sort-by a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  font-family: inherit;
  color: var(--basic-sort);
  border-bottom: 1px dashed var(--blue);
}

.sort-by-price a {
  color: var(--blue);
  border: none;
}

.sort-by a:hover {
  color: var(--blue);
}

.sort-by a:focus {
  color: var(--basic-black);
  border: none;
}

.sort-by a:active {
  color: var(--blue);
  border: none;
}

.hotel-catalog-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.hotel-catalog-btn {
  border: none;
  font-size: 0;
  background-color: transparent;
  width: 11px;
  height: 10px;
  padding-top: 8px;
  padding-right: 12px;
}

.hotel-catalog-btn.back {
 background: url('../img/icon-dir.svg') no-repeat;
 margin-right: 8px;
}

.hotel-catalog-btn.next {
 background: url('../img/icon-dir.svg') no-repeat;
 transform: rotate(180deg);
}

.hotel-catalog-btn:disabled {
  background: url('../img/icon-dir.svg') no-repeat;
  pointer-events: none;
}

.hotel-catalog-btn:enabled {
  background: url('../img/icon-blue-dir.svg') no-repeat;
}

.hotel-catalog-btn:hover {
  background: url('../img/icon-black-dir.svg') no-repeat;
}

.hotel-catalog-btn:active,
.hotel-catalog-btn:focus {
  background: url('../img/icon-blue-dir.svg') no-repeat;
}

input[name="cost-min"] {
  border-right: none;
  border-radius: 2px 0 0 2px;
  padding-right: 10px;
  padding-left: 84px;
}
input[name="cost-max"] {
  border-left: none;
  border-radius: 0 2px 2px 0;
  margin-left: -4px;
  padding-left: 75px;
}

.hotel-results-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid var(--basic-light-line);
  margin-top: -2px;
  padding: 0 6%;
}

.hotel-results-list {
  background-color: var(--basic-white);
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 72px;
  display: flex;
  flex-direction: column;
}

.hotel-results-list h2 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.hotel-results-list p {
  color: var(--basic-extra-dark)
}

.hotel-card {
  flex-wrap: wrap;
  align-items: center;
  padding: 3px 0 0 0%;
  width: 100%;
}

.hotel-results-image {
  align-self: center;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin-left: 29px;
  width: 350px;
  margin-top: 26px;
  margin-bottom: 33px;
  min-height: 90px;
}

.hotel-rating {
  background-color: var(--special-gray);
  color: var(--light-line);
  width: 110px;
  height: 27px;
  padding: 3px 15px;
  align-items: center;
  text-align: center;
}

.hotel-prestige {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 9px;
}

.hotel-stars {
  color: var(--blue);
  align-self: flex-end;
  padding-left: 3px;
  padding-top: 4px;
}

.hotel-browse {
  width: 110px;
  height: 27px;
  background-color: var(--blue);
  color: var(--basic-white);
  font-weight: 700;
  padding: 2px 0;
  align-self: flex-end;
  text-align: center;
}

.hotel-browse:hover {
  background-color: var(--dark-blue);
}

.hotel-browse:active {
  background-color: var(--extra-dark-blue);
  opacity: 0.3;
}

.hotel-book {
  width: 142px;
  height: 27px;
  background-color: var(--brown);
  color: var(--basic-white);
  font-weight: 700;
  padding: 2px 0;
  align-self: flex-end;
  text-align: center;
}

.hotel-book:active {
  background-color: var(--extra-dark-brown);
  opacity: 0.3;
}

.hotel-book:hover {
  background-color: var(--dark-brown);
}
